<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rule name="Redirect" stopProcessing="true">
        <match url="^home.html$"/>
        <conditions>
          <add input="{HTTP_HOST}" pattern="^www\.riverwindsband\.org$" />
        </conditions>
        <action type="Redirect" url="http://www.riverwindsband.org"/>
      </rule>
    </rewrite>
  </system.webServer>
</configuration>