<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <location path="home.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.riverwindsband.org" httpResponseStatus="Permanent"/>
    </system.webServer>
  </location>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache"/>
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:05"/>
    </staticContent>
  </system.webServer>
</configuration>